@layer components {
  .wrapper {
    overflow: hidden;
    display: grid;
    grid-template-columns:
      [wide] minmax(0, 1fr) [main] minmax(auto, 1420px)
      [main-end] minmax(0, 1fr) [wide-end];
    grid-template-rows: min-content;
    column-gap: calc(var(--spacing) * 4);
    min-height: 100vh;
  }
}
