@theme {
  --color-darknavy: #121b25;
  --color-darknavy-600: #555e68;
  --color-darknavy-700: #303a44;
  --color-darknavy-800: #1a242f;
  --color-darknavy-900: #18222d;

  --font-title: 'Inter', sans-serif;
  --font-text: 'Work Sans', sans-serif;
}
