@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@import '~/styles/theme.css';
@import '~/styles/base.css';

@import '~/styles/components/wrapper.css';
@import '~/styles/components/button.css';

.geo-section {
  @apply bg-darknavy-800;
  background-image: url('~/assets/geo-pattern.png');
  background-size: 200%;
  background-position: calc(50% + 340px) center;
  padding: 160px 0;
}
